body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent{
    background-color: rgb(160, 232, 169);
    padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 5px;
   

}
.child{
    background-color: rgb(250, 196, 255);
}